[Desktop Entry]
Type=Application
Version=1.1
Name=labelImg
Comment=A graphical image annotation tool.
Exec=/usr/bin/labelimg
Icon=labelimg
Terminal=False
Categories=Graphics;Development;Utility
